.selector-for-some-widget {
    box-sizing: content-box;
  }
h2{
    text-align: center;
    margin-top: 50px;
}
form{
  text-align: center;
}
input{
  margin-top: 20px;
}
button{
  margin-top: 10px;
}
footer{
  text-align: center;
  margin-top: 180px;
  position: sticky;
}
.container{
  min-height: 100%;
}
body{
  background-color: aquamarine;
}
nav{
  background-color: aqua;
}
