{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h2>Welcome to your very own Food Diary</h2>
<p>Do you sometimes loose track of what you've eaten? Well, you are not alone. The food diary is a safe webapp that lets you log in all the foods you consume in a day and keeps a log for you. So now you can always look back on what you've eaten and make adjustments if you need to.</p>
<p>With busy schedules the food diary lets you log in fast and go on with your life.</p>
<p>Keeping a record of what you drink and eat helps you understand your eating habits.</p>

<div class="container">
    <div class="d-flex justify-content-start">
        <div>
           
        </div>
    </div>
    <div class="d-flex justify-content-end"  >
        <img class="img-fluid" src="https://media.istockphoto.com/photos/food-diary-picture-id175445488?k=20&m=175445488&s=612x612&w=0&h=eP6R7h2jeAyG-dY3CJ_uS0LrGY1T_RfqsZPPRbeTlDw=">
    </div>
</div>
<br>
<div class="container">
    <div class="d-flex justify-content-end">
        
    </div>
    <div class="d-flex justify-content-start"  >
        <img class="img-fluid" src="https://media.istockphoto.com/photos/table-top-view-of-spicy-food-picture-id1316145932?s=612x612">
    </div>
</div>
<br>
<div class="d-flex justify-content-end"  >
    <img class="img-fluid" src="https://media.istockphoto.com/photos/healthy-fruit-and-vegetable-smoothies-picture-id654357990?b=1&k=20&m=654357990&s=170667a&w=0&h=ELx2vCVP5r-FVsJytDAyUesN-vuzjAfEv7K1NkJDiH8=">
</div>

{% endblock %}