{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h2>Welcome to your very own Food Diary</h2>

<p>Do you sometimes loose track of what you've eaten? Well, you are not alone. The food diary is a safe website that lets you log in all the foods you consume in a day and keeps a log for you. So now you can always look back on what you've eaten and make adjustments if you need to.</p>
<p>With busy schedules the food diary lets you log in fast and go on with your life</p>
<p>Keeping a record of what you drink and eat helps you understand your eating habits</p>
<div>
<img class="img-fluid" src="https://media.istockphoto.com/photos/daily-food-diary-picture-id175446771?k=20&m=175446771&s=612x612&w=0&h=uLrEkP_cd25_jD-YqvxcntziP1HzBl_IRqcXiU1jX98=">
</div>
<div>

</div>
{% endblock %}