{% extends "base.html" %}

{% block title %}Your Page{% endblock %}

{% block content %}
<h2> Log in what you ate today </h2>
<ul class="list-group list-group-flash" id="notes" name="noted">
    {% for note in user.notes %}
    <form action="POST">
        <label for today> Date:</label>
        <span> {{ note.date }} </span>
    </form>
    <li class="list-group-item"> {{ note.data }} </li>
    <br/>
    <span>
        <form method="POST" action="/delete">
            <button type="submit" class="btn btn-primary"> Delete </button>
        </form>
    </span>
    <br/>
    {% endfor %}
</ul>
<div type="container">
    <form class="form-group" method="POST">
        <label for="note" class="form-label"><h4>Add Entry</h4></label>
        <br/>
        <textarea class="form-control" name="note" id="note" placeholder="What did you eat today?"></textarea>
        <br/>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}