{% extends "base.html" %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}
<div class="text-center">
  <h3>Sing Up Here</h3>
  <form method="POST" style="max-width:400px;margin:auto">
      <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Enter Your Username" required>
      </div>

      <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="text" name="email"    class="form-control" id="email" placeholder="Enter Your Email" required>
      </div>

      <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" name="password1"  class="form-control" id="password1" placeholder="Enter Your Password" required>
      </div>

      <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Your Password" required>
      </div>

      <button type="submit" class="btn btn-primary">Sign Up</button>
 </form>
</div>
{% endblock %}